name: Infisical OIDC Secrets Demo

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate with Infisical via OIDC and fetch secrets
        uses: Infisical/secrets-action@v1.0.9
        with:
          method: oidc
          identity-id: "6a258e70-d08b-48bb-8de5-0f3939c9fd30"
          domain: "https://app.infisical.com"
          project-slug: "github-actions-infisical-63-hs"
          env-slug: "dev"

      - name: Log in to Docker Hub
        run: |
          echo "$DOCKER_PASSWORD" | docker login \
            -u "$DOCKER_USERNAME" \
            --password-stdin

      - name: Build Docker image
        run: |
          docker build -t $DOCKER_USERNAME/github-actions-infisical:latest .

      - name: Push Docker image
        run: |
          docker push $DOCKER_USERNAME/github-actions-infisical:latest
